$main-bg-color: #fff;
$base-text-color: #000;
$second-text-color: #00000099;
$second-bg-color: #ededed;
$main-title-color: #009de2;
$second-title-color: #ffc700;
$border-color: #c8c8c8;
$btn-regular-active: #009ee2e4;
$btn-transparent-active: #009ee234;
$main-title-color-opacity: #009ee230;
$second-title-color-opacity: #ffc8002e;
$header-border: #e7f8ff;
$wave-bg: #333;
$wave-color: #3586ff;