@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Montserrat+Alternates:wght@100;200;300;400&display=swap');
@import 'base/variables';

// @import 'libs/bootstrap';
// @import 'base/mixins';
:root {
	accent-color: #009de2;
}
* {
	font-family: 'Arimo', sans-serif;
}

html {
	scroll-behavior: smooth;
}
body {
	background-color: $main-bg-color;
	font-family: 'Arimo', sans-serif;
	margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}
ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
a {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
}
p {
	padding: 0;
	margin: 0;
}
input {
	&:focus-visible {
		outline: none;
		border-bottom: 2px solid $main-title-color;
	}
	&:invalid {
		border-color: red;
	}
	&::placeholder {
		color: $border-color;
	}
}
button {
	border: none;
	background: transparent;
	color: inherit;
	cursor: pointer;
}
header,
footer {
	z-index: 1;
}
form {
	overflow: hidden;
}
.container {
	max-width: 1230px;
	margin: 0 auto;
	padding: 0 15px;
}
.title {
	padding: 78px 0;
}
.nj-h1 {
	font-size: 96px;
	color: $second-title-color;
	font-weight: 700;
	letter-spacing: -4px;
	text-transform: capitalize;
	line-height: 86px;
}
.nj-h2 {
	font-size: 52px;
	color: $base-text-color;
	font-weight: 400;
	text-transform: initial;
	line-height: 20px;
	text-align: center;
	@media only screen and (max-width: 768px) {
		font-size: 30px;
		line-height: 34px;
		text-align: center;
		padding-bottom: 30px !important;
	}
}
.nj-h3 {
	font-size: 32px;
	color: $base-text-color;
	font-weight: 400;
	text-transform: initial;
	line-height: 20px;
	text-align: left;
	@media only screen and (max-width: 768px) {
		font-size: 25px;
		line-height: 34px;
		text-align: center;
	}
}
.nj-h4 {
	color: $base-text-color;
	text-align: center;
	font-size: 28px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	@media only screen and (max-width: 500px) {
		font-size: 18px !important;
	}
}
.nj-h5 {
	color: $base-text-color;
	text-align: center;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.nj-h6 {
	font-size: 19px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.p-list {
	font-size: 19px;
	color: $main-title-color;
	font-weight: 700;
	text-align: justify;
}
.p-item-text {
	font-size: 13px;
	color: $second-text-color;
	font-weight: 400;
	text-align: left;
}
.text-blue {
	color: $main-title-color;
}
.text-yellow {
	color: $second-title-color;
}
.text-gray {
	color: $second-text-color;
}
.text-bold {
	font-weight: 700;
}
.img_wrapper {
	width: 100%;
	img {
		height: auto;
		max-width: 100%;
		display: block;
		margin: 0;
	}
}
.btn_regular {
	border-radius: 30px;
	border: 1px solid $main-title-color;
	color: $main-bg-color;
	background: $main-title-color;
	font-size: 15px;
	padding: 15px 0px;
	text-align: center;
	&:active {
		background: $btn-regular-active;
	}
}
.btn_transparetn_bg {
	border-radius: 30px;
	border: 1px solid $main-title-color;
	color: $main-title-color;
	background: #fff;
	font-size: 15px;
	padding: 15px 0px;

	&:active {
		background: $btn-transparent-active;
	}
}
.btn_wrapper_regular {
	.btn_regular {
		display: block;
		width: 100%;
		margin: 0 auto;
	}
}
.icon_cancel {
	margin-left: auto;
	transition: 0.3s ease;
	padding: 3px;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	&:hover {
		padding: 3px;
		background: rgba(255, 0, 0, 0.206);
		transition: 0.3s ease;
		border: none;
		svg {
			display: flex;
			align-items: center;
			path {
				fill: $base-text-color;
			}
		}
	}
	&:active {
		background: rgba(255, 0, 0, 0.471);
		transition: 0.3s ease;
	}
}
.form_logo {
	position: absolute;
	top: 33%;
	right: 50%;
	transform: translate(50%, 0);
	z-index: 999;
	cursor: pointer;
}
.form_wrapper {
	display: flex;
	flex-direction: column;
	background: $main-bg-color;
	width: 260px;
	height: fit-content;
	padding: 20px 55px;
	border-radius: 20px;
	transition: 0.3s ease;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
	z-index: 9999;

	h5 {
		color: $main-title-color;
		padding: 10px 0 30px;
	}

	label{
		overflow: hidden;
	}

	input {
		margin-bottom: 30px;
		border: none;
		border-bottom: 2px solid $border-color;
		max-width: 100%;
		font-size: 17px;
		width: 100%;
		&:focus-visible {
			outline: none;
			border-bottom: 2px solid $main-title-color;
		}
		&:focus-visible::placeholder {
			color: $main-title-color; 
		}
	}
	.btn_wrapper_regular {
		.btn_regular {
			display: block;
			width: 100%;
		}
	}
}
.link_btn {
	padding: 25px 0 5px;
	font-size: 15px;
	border: none;
	text-decoration-line: underline;
	color: $main-title-color;
	background: transparent;
}
.accordion-list {
	cursor: pointer;
	transition: 0.4s;
}
.accordion-list_panel {
	padding: 0 18px;
	display: none;
	overflow: hidden;
	max-height: 0;
	transition: max-height 0.2s ease-out;
}
.accordion-list.acitve .accordion-list_panel {
	display: block;
	max-height: 100px;
}

#scroll-progress {
	width: 0;
	height: 5px;
	background-color: #009de2;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	transition: width 0.2s;
}
section {
	transition: 0.3s ease-in;
	transform: translateX(0px);
	opacity: 1;
	overflow: hidden;
	position: relative;
	z-index: 1;
	&.hidden {
		transition: translate 0;
		transform: translateX(-2000px);
	}
	&.opacity {
		transition: translate 0;
		opacity: 0;
	}
}
.about {
	&.hidden {
		transform: translateX(-4000px);
		opacity: 0;
	}
}

//block
@import 'blocks/header';
@import 'blocks/main';
@import 'blocks/about';
@import 'blocks/benefits';
@import 'blocks/brands';
@import 'blocks/auth-block';
@import 'blocks/numbers';
@import 'blocks/footer';
//components
@import 'components/breadcrumbs';
@import 'components/_burger';
@import 'components/form-for-call';
@import 'components/after-submit-form';
@import 'components/form-auth';
@import 'components/form-enter';
@import 'components/fish-animation';
@import 'components/slider-about';
@import 'animation/animations-all';
