@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Montserrat+Alternates:wght@100;200;300;400&display=swap');
* {
	font-family: 'Arimo', sans-serif;
}

body {
	background-color: #fff;
	font-family: 'Arimo', sans-serif;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

a {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
}

p {
	padding: 0;
	margin: 0;
}

input:focus-visible {
	outline: none;
	border-bottom: 2px solid #009de2;
}
input:invalid {
	border-color: red;
}
input::-moz-placeholder {
	color: #c8c8c8;
}
input::placeholder {
	color: #c8c8c8;
}

button {
	border: none;
	background: transparent;
	color: inherit;
	cursor: pointer;
}

section {
	overflow: hidden;
	position: relative;
	z-index: 1;
}

header,
footer {
	z-index: 1;
}

form {
	overflow: hidden;
}

.container {
	max-width: 1230px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

.title {
	padding: 78px 0;
}

.nj-h1 {
	font-size: 96px;
	color: #ffc700;
	font-weight: 700;
	letter-spacing: -4px;
	text-transform: capitalize;
	line-height: 86px;
}

.nj-h2 {
	font-size: 52px;
	color: #000;
	font-weight: 400;
	text-transform: initial;
	line-height: 20px;
	text-align: center;
}
@media only screen and (max-width: 500px) {
	.nj-h2 {
		font-size: 30px;
	}
}

.nj-h3 {
	font-size: 32px;
	color: #000;
	font-weight: 400;
	text-transform: initial;
	line-height: 20px;
	text-align: left;
}

.nj-h4 {
	color: #000;
	text-align: center;
	font-size: 28px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
@media only screen and (max-width: 500px) {
	.nj-h4 {
		font-size: 18px !important;
	}
}

.nj-h5 {
	color: #000;
	text-align: center;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.p-list {
	font-size: 19px;
	color: #009de2;
	font-weight: 700;
	text-align: justify;
}

.p-item-text {
	font-size: 13px;
	color: rgba(0, 0, 0, 0.6);
	font-weight: 400;
	text-align: left;
}

.text-blue {
	color: #009de2;
}

.text-yellow {
	color: #ffc700;
}

.text-gray {
	color: rgba(0, 0, 0, 0.6);
}

.img_wrapper {
	width: 100%;
}
.img_wrapper img {
	height: auto;
	max-width: 100%;
	display: block;
	margin: 0;
}

.btn_regular {
	border-radius: 30px;
	border: 1px solid #009de2;
	color: #fff;
	background: #009de2;
	font-size: 15px;
	padding: 10px 0px;
}
.btn_regular:active {
	background: rgba(0, 158, 226, 0.8941176471);
}

.btn_transparetn_bg {
	border-radius: 30px;
	border: 1px solid #009de2;
	color: #009de2;
	background: #fff;
	font-size: 15px;
	padding: 15px 0px;
}
.btn_transparetn_bg:active {
	background: rgba(0, 158, 226, 0.2039215686);
}

.btn_wrapper_regular button {
	display: block;
	width: 100%;
	margin: 0 auto;
}

.icon_cancel {
	margin-left: auto;
	transition: 0.3s ease;
	padding: 3px;
	border-radius: 50%;
}
.icon_cancel:hover {
	background: rgba(255, 0, 0, 0.206);
	transition: 0.3s ease;
}
.icon_cancel:hover svg {
	display: flex;
	align-items: center;
}
.icon_cancel:hover svg path {
	fill: #000;
}
.icon_cancel:active {
	background: rgba(255, 0, 0, 0.471);
	transition: 0.3s ease;
}

.form_logo {
	position: absolute;
	top: 33%;
	right: 50%;
	transform: translate(50%, 0);
	z-index: 999;
	cursor: pointer;
}

.form_wrapper {
	display: flex;
	flex-direction: column;
	background: #fff;
	width: 260px;
	height: -moz-fit-content;
	height: fit-content;
	padding: 20px 55px;
	border-radius: 20px;
	transition: 0.3s ease;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
	z-index: 9999;
}
.form_wrapper h5 {
	color: #009de2;
	padding: 10px 0 30px;
}
.form_wrapper input {
	margin-bottom: 30px;
	border: none;
	border-bottom: 2px solid #c8c8c8;
}
.form_wrapper input:focus-visible {
	outline: none;
	border-bottom: 2px solid #009de2;
}
.form_wrapper .btn_wrapper_regular .btn_regular {
	display: block;
	width: 100%;
}

.link_btn {
	padding: 25px 0 5px;
	font-size: 15px;
	border: none;
	text-decoration-line: underline;
	color: #009de2;
	background: transparent;
}

.header {
	padding: 38px 0;
	display: flex;
	width: 100%;
	background: #fff;
}
.header .header_wrapper {
	display: flex;
	align-items: center;
	color: #009de2;
	font-size: 15px;
}
.header .header_wrapper .img_wrapper {
	flex: 0 0 100%;
	max-width: 156px;
	width: 100%;
}
.header .header_wrapper .img_wrapper img {
	width: 100%;
}
.header .header_wrapper .header_wrappe_items {
	display: flex;
	flex: 1 1 auto;
	padding-left: 60px;
	align-items: center;
	justify-content: space-between;
	gap: 40px;
}
.header .header_wrapper .header_wrappe_items .menu_list {
	display: flex;
	gap: 20px;
}
.header .header_wrapper .header_wrappe_items .header_tell {
	display: flex;
	align-items: center;
	gap: 10px;
}
.header .header_wrapper .header_wrappe_items .header_tell_wrapper {
	display: flex;
	flex-direction: column;
	position: relative;
	align-items: center;
}
.header .header_wrapper .header_wrappe_items .header_tell_wrapper a {
	font-size: 24px;
}
.header .header_wrapper .header_wrappe_items .header_tell_wrapper .work {
	display: none;
	position: absolute;
	width: 120%;
	top: 120%;
	right: 0;
	left: -10%;
	padding: 20px 12px 10px;
	border-radius: 20px;
	background: #fff;
	z-index: 99;
	box-shadow: 2px 0px 12px 0px rgba(0, 0, 0, 0.1);
}
.header
	.header_wrapper
	.header_wrappe_items
	.header_tell_wrapper
	.work
	.work_title_wrap {
	padding-bottom: 10px;
	gap: 5px;
}
.header
	.header_wrapper
	.header_wrappe_items
	.header_tell_wrapper
	.work
	.work_title_wrap
	a,
.header
	.header_wrapper
	.header_wrappe_items
	.header_tell_wrapper
	.work
	.work_title_wrap
	p {
	padding-left: 10px;
}
.header
	.header_wrapper
	.header_wrappe_items
	.header_tell_wrapper
	.work
	.work_title_wrap
	p {
	font-size: 12px;
}
.header
	.header_wrapper
	.header_wrappe_items
	.header_tell_wrapper
	.work
	.btn_regular {
	width: 100%;
}
.header .header_wrapper .header_wrappe_items .header_tell_wrapper.show .work {
	display: block;
}
.header .header_wrapper .header_wrappe_items .header_tell_wrapper.show .work a {
	font-size: 14px;
}
.header
	.header_wrapper
	.header_wrappe_items
	.header_tell_wrapper.show
	.work
	h5 {
	font-size: 14px;
	color: #000;
	font-weight: 400;
}
.header .header_wrapper .header_wrappe_items .btn_wrapper button {
	border-radius: 30px;
	border: 1px solid #009de2;
	color: #009de2;
	background: #fff;
	font-size: 15px;
	padding: 10px 30px;
}
.header .burger-align {
	display: none;
}
.header .mobile_menu {
	border-radius: 30px 30px 0px 0px;
	background: #fff;
	padding: 20px 23px 0 30px;
	box-shadow: 4px -3px 4px 0px rgba(0, 0, 0, 0.25);
	width: 86%;
	height: 0;
	display: flex;
	flex-direction: column;
	position: absolute;
	left: 0;
	top: 120%;
	z-index: 0;
	transition: all 0.5s ease;
	overflow-y: scroll;
}
.header .mobile_menu ul {
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid #c8c8c8;
	padding-bottom: 25px;
}
.header .mobile_menu ul li {
	padding: 10px 0;
}
.header .mobile_menu ul a {
	font-size: 21px;
	color: #009de2;
	display: block;
	width: 100%;
}
.header .mobile_menu .mobile_menu_contacts {
	padding: 20px 0;
}
.header .mobile_menu .btn_wrapper_regular {
	display: flex;
	flex-direction: column;
	gap: 21px;
	width: 50%;
}
.header .background-opacity {
	background: transparent;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 0;
	z-index: 0;
}
.header .work {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.header .work .content_wrap {
	display: flex;
	flex-direction: column;
}
.header .work .content_wrap .svg_wrapper {
	display: flex;
	gap: 5px;
}
.header .work .content_wrap .svg_wrapper h5 {
	padding-top: 2px;
	font-size: 16px;
}

@media only screen and (max-width: 1150px) {
	.header .header_wrapper {
		justify-content: space-between;
	}
	.header .header_wrapper .header_wrappe_items {
		display: none;
	}
	.header .header_wrapper .burger-align {
		display: block;
	}
	.header.active .background-opacity {
		background: rgba(0, 0, 0, 0.6);
		z-index: 98;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100%;
		transition: 0.4s ease;
	}
	.header.active .mobile_menu {
		transition: all 0.4s ease;
		left: 0;
		top: 10%;
		height: 95%;
		z-index: 99;
	}
}
@media only screen and (max-width: 500px) and (min-height: 860px) {
	.header .mobile_menu .mobile_menu_contacts {
		padding: 40px 0;
	}
}
@media only screen and (max-width: 500px) and (max-height: 766px) {
	.header.active .mobile_menu {
		height: 100%;
		padding-bottom: 20px;
	}
}
@media only screen and (max-width: 500px) {
	.mobile_menu .btn_wrapper_regular {
		width: 100% !important;
	}
}
.main_page {
	padding: 100px 0 250px;
	background: #fff;
}
.main_page_wrapper {
	display: flex;
}
.main_page_wrapper .title_box {
	line-height: 86px;
	letter-spacing: -4px;
	z-index: 1;
	position: relative;
}
.main_page_wrapper .title_box h1 {
	position: relative;
}
.main_page_wrapper .title_box ul li {
	font-size: 64px;
	z-index: 1;
	position: relative;
}
.main_page_wrapper .title_box::after {
	content: 'YENTO';
	position: absolute;
	top: 0;
	left: 0;
	color: #e3e3e3;
	font-size: 300px;
	font-weight: 700;
	opacity: 0.21;
	z-index: 0;
	font-feature-settings:
		'clig' off,
		'liga' off;
}
.main_page_wrapper .title_box::before {
	content: 'YENTO';
	position: absolute;
	bottom: 0;
	right: -40%;
	color: #c4c4c4;
	font-size: 100px;
	font-weight: 700;
	opacity: 0.21;
	z-index: 0;
	font-feature-settings:
		'clig' off,
		'liga' off;
}
.main_page_wrapper .content_text {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: end;
	padding-right: 120px;
	gap: 16px;
}
.main_page_wrapper .content_text .text {
	width: 100%;
	max-width: 700px;
	z-index: 1;
}
.main_page_wrapper .content_text .text p {
	font-size: 16px;
	line-height: 27px;
	text-transform: capitalize;
	padding: 0 0px 16px 0;
}
.main_page_wrapper .content_text .text button {
	width: 100%;
}

@media only screen and (max-width: 1200px) {
	.main_page {
		padding: 50px 0 150px;
	}
	.main_page_wrapper .title_box::before {
		font-size: 100px;
		bottom: -10%;
		right: -40%;
	}
	.main_page_wrapper .title_box::after {
		font-size: 225px;
	}
	.main_page_wrapper .title_box h1 {
		font-size: 64px;
		line-height: 64px;
	}
	.main_page_wrapper .title_box ul li {
		font-size: 44px;
		line-height: 64px;
	}
}
@media only screen and (max-width: 1024px) {
	.main_page {
		padding: 0 0 50px;
	}
	.main_page .main_page_wrapper {
		flex-direction: column;
		gap: 40px;
	}
	.main_page .main_page_wrapper .title_box {
		margin: 0 auto;
	}
	.main_page .main_page_wrapper .title_box::after {
		top: 10%;
	}
	.main_page .main_page_wrapper .title_box::before {
		left: 0;
		top: 70%;
		font-size: 150px;
	}
	.main_page .main_page_wrapper .title_box h1 {
		font-size: 94px;
		line-height: 86px;
	}
	.main_page .main_page_wrapper .title_box ul li {
		font-size: 64px;
		line-height: 86px;
	}
	.main_page .main_page_wrapper .content_text {
		padding: 0;
	}
	.main_page .main_page_wrapper .content_text .text {
		max-width: 380px;
		width: 100%;
		margin: 0 auto;
	}
	.main_page .main_page_wrapper .content_text button {
		width: 90%;
		margin: 0;
		margin-right: auto;
	}
}
@media only screen and (max-width: 769px) {
	.title_box {
		width: -moz-fit-content !important;
		width: fit-content !important;
	}
}
.benefits {
	padding: 78px 0 100px;
	background: #fff;
}
.benefits h2 {
	padding-bottom: 80px;
}
.benefits ul {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-row-gap: 100px;
	grid-column-gap: 50px;
	align-items: baseline;
}
.benefits ul li {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	gap: 20px;
}
.benefits ul li p {
	color: rgba(0, 0, 0, 0.6);
}
.benefits ul li .svg_wrapper {
	background: #009de2;
	border-radius: 24px;
	padding: 30px;
	margin-bottom: 5px;
}
.benefits ul li .svg_wrapper svg {
	width: 50px;
	height: 50px;
}

@media only screen and (max-width: 1260px) {
	.benefits ul {
		grid-column-gap: 25px;
	}
}
@media only screen and (max-width: 1024px) {
	.benefits h4 {
		font-size: 24px;
	}
	.benefits ul {
		grid-template-columns: repeat(3, 1fr);
		grid-row-gap: 50px;
	}
	.benefits ul li p {
		max-width: 250px;
	}
	.benefits ul li:nth-last-child(2) {
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 3;
		grid-row-end: 4;
	}
	.benefits ul li:last-child {
		grid-column-start: 2;
		grid-column-end: 4;
		grid-row-start: 3;
		grid-row-end: 4;
	}
}
@media only screen and (max-width: 768px) {
	.benefits ul {
		grid-template-columns: repeat(2, 1fr);
		grid-auto-rows: auto;
	}
	.benefits ul li:nth-last-child(2) {
		grid-column-start: auto;
		grid-column-end: auto;
		grid-row-start: auto;
		grid-row-end: auto;
	}
	.benefits ul li:last-child {
		grid-column-start: auto;
		grid-column-end: auto;
		grid-row-start: auto;
		grid-row-end: auto;
	}
}
@media only screen and (max-width: 500px) {
	.benefits {
		padding: 25px 0 75px;
	}
	.benefits h2 {
		padding-bottom: 35px;
	}
	.benefits ul {
		grid-row-gap: 40px;
	}
	.benefits ul li {
		gap: 10px;
	}
	.benefits ul li p {
		font-size: 12px;
		max-width: 150px;
	}
}
.brands {
	padding: 50px 0 150px;
	background: #ededed;
}
.brands h2 {
	padding-bottom: 70px;
}
.brands .brands_sliders {
	display: flex;
	gap: 12px;
}

.auth {
	padding: 100px 0 120px;
	background: #fff;
}
.auth h3 {
	padding-bottom: 75px;
}
.auth .auth_wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.auth .auth_wrapper ul {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 150px;
	grid-row-gap: 70px;
}
.auth .auth_wrapper ul li {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 15px;
	max-width: 256px;
}
.auth .auth_wrapper ul li h5 {
	font-size: 22px;
}
.auth .auth_wrapper ul li span {
	border-radius: 50%;
	background: #009de2;
	padding: 5px 10px;
	color: #fff;
}
.auth .auth_wrapper ul li p {
	color: rgba(0, 0, 0, 0.6);
}

@media only screen and (max-width: 1100px) {
	.auth_wrapper ul {
		grid-column-gap: 70px !important;
	}
}
@media only screen and (max-width: 1024px) {
	.auth {
		padding: 50px 0 60px;
	}
	.auth h3 {
		padding-bottom: 25px;
	}
	.auth .auth_wrapper {
		flex-direction: column;
		gap: 50px;
	}
}
@media only screen and (max-width: 600px) {
	.auth {
		padding: 30px 0 60px;
	}
	.auth .auth_wrapper .auth_items {
		grid-template-columns: 1fr;
		grid-row-gap: 45px;
	}
}
.numbers {
	padding: 180px 50px 200px;
	background: #ededed;
}
.numbers p {
	color: rgba(0, 0, 0, 0.6);
}
.numbers .numbers_wrapper {
	display: flex;
	gap: 150px;
}
.numbers .numbers_wrapper .numbers_items {
	flex: 1 1 50%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 120px;
	grid-row-gap: 50px;
}
.numbers .numbers_wrapper .numbers_items h2 {
	font-size: 64px;
	font-weight: 700;
	line-height: normal;
}
.numbers .numbers_wrapper .numbers_items li {
	display: flex;
	flex-direction: column;
	align-items: start;
}
.numbers .numbers_wrapper .numbers_text {
	flex: 0 1 50%;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.numbers .numbers_wrapper .numbers_text h2 {
	font-size: 40px;
	font-weight: 400;
	padding-bottom: 12px;
}
.numbers .numbers_wrapper .numbers_text p {
	padding-bottom: 30px;
}
.numbers .numbers_wrapper .numbers_text button {
	width: 40%;
	margin: 0;
}

.burger-align {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}

#simply-burger {
	width: 45px;
	height: 25px;
	transform: rotate(0deg);
	transition: 0.5s ease-in-out;
	cursor: pointer;
}

#simply-burger span {
	display: block;
	position: absolute;
	height: 2px;
	width: 100%;
	background: #009de2;
	border-radius: 9px;
	opacity: 1;
	right: 0;
	transform: rotate(0deg);
	transition: 0.25s ease-in-out;
	width: 100%;
}

#simply-burger:hover span:nth-child(2) {
	background: #ffc700;
}

#simply-burger.active:hover span {
	background: #ffc700;
}

#simply-burger span:nth-child(1) {
	top: 0px;
}

#simply-burger span:nth-child(2) {
	top: 50%;
	width: 75%;
}

#simply-burger span:nth-child(3) {
	bottom: -2px;
	width: 50%;
	right: 0;
}

#simply-burger.active {
	transform: rotate(90deg);
}

#simply-burger.active span:nth-child(1) {
	top: 2px;
	width: 24px;
	transform: rotate(225deg);
}

#simply-burger.active span:nth-child(2) {
	width: 50px;
	top: 50%;
}

#simply-burger.active span:nth-child(3) {
	width: 24px;
	bottom: 0px;
	transform: rotate(-225deg);
}

.form_call {
	width: 100%;
	height: calc(100vh - 130px);
	position: relative;
	z-index: 0;
	display: none;
}
.form_call .form_wrapper {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -2000px);
	z-index: 999;
}
.form_call h5 {
	color: #009de2;
	padding-bottom: 30px;
}
.form_call .icon_cancel {
	padding: 0;
}
.form_call .svg_wrapper {
	position: absolute;
	top: 3%;
	right: 3%;
}
.form_call .background-opacity {
	background: transparent;
	position: absolute;
	transition: opacity 0.3s ease;
	opacity: 0;
	top: 0;
	bottom: 0;
	left: -5px;
	right: -5px;
	height: 0;
	z-index: 0;
}

.form_call.active {
	display: block;
}

.form_call.active .background-opacity {
	background: rgba(0, 0, 0, 0.6);
	z-index: 998;
	top: -50%;
	height: 200%;
	opacity: 1;
	transition: opacity 0.3s ease;
	z-index: 998;
}

.form_call.active .form_wrapper {
	top: 65%;
	left: 50%;
	transform: translate(-50%, -100%);
	transition: 0.5s ease-in;
	z-index: 999;
}

.after_popup {
	background: rgba(0, 158, 226, 0.2039215686);
	display: none;
	opacity: 0;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9998;
	transition: opacity 0.4s ease;
}
.after_popup .after_popup_wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	padding: 20px;
	border-radius: 20px;
	z-index: 9999;
}
.after_popup .after_popup_wrapper h6 {
	color: #009de2;
	font-size: 14px;
	text-align: center;
}
.after_popup .after_popup_wrapper p {
	color: rgba(0, 0, 0, 0.6);
	font-size: 12px;
	text-align: center;
}

.after_popup.active {
	transition: opacity 0.4s ease;
	opacity: 1;
	display: block;
}

.auth_form_on_page {
	padding: 40px 45px;
	margin: 40px;
}
.auth_form_on_page h3 {
	padding-bottom: 40px !important;
}
.auth_form_on_page input {
	width: 100%;
}

@keyframes fish {
	0%,
	70% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.form_enter {
	display: none;
	opacity: 0;
	transition: 0.4s ease;
	background-color: #009de2;
	position: absolute;
	width: 100%;
	height: calc(100vh - 130px);
	overflow: hidden;
}
.form_enter .form_wrapper {
	position: absolute;
	z-index: 999;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.form_enter .form_wrapper .password {
	position: relative;
	padding-right: 30px;
}
.form_enter .form_wrapper .password::after {
	content: '';
	position: absolute;
	background-image: url('src/img/password.svg');
	width: 24px;
	height: 24px;
	right: 5px;
	top: 50%;
	transform: translateY(-50%);
}
.form_enter .form_wrapper .auth_wrapper {
	display: flex;
	gap: 30px;
}
.form_enter .form_wrapper .auth_wrapper a {
	font-size: 15px;
	text-decoration-line: underline;
	color: #009de2;
}
.form_enter .cant_remember_form {
	transform: translate(-50%, -1000px);
}
.form_enter .authorization_form {
	transform: translate(-50%, -1500px);
}
.form_enter .fishes_animation_wrapper {
	position: absolute;
	height: 100vh;
	overflow: hidden;
	z-index: 998;
}
.form_enter .fish_container {
	height: 80%;
	z-index: 999;
}
.form_enter .fish_container .fish,
.form_enter .fish_container .fish-shadow {
	width: 75%;
	height: auto;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	animation: fish 3s forwards ease-in-out;
}
.form_enter .fish_container .fish path,
.form_enter .fish_container .fish-shadow path {
	fill: #fff;
}
.form_enter .fish_container .fish path:hover,
.form_enter .fish_container .fish-shadow path:hover {
	fill: #ffc700;
}
.form_enter .fish_container .fish .line,
.form_enter .fish_container .fish-shadow .line {
	fill: none;
}
.form_enter .fish_container .fish-shadow-con {
	opacity: 0.2;
	filter: blur(10px);
	position: absolute;
	top: 0;
	left: 0;
}
.form_enter .fish_container .fish-shadow {
	width: 75%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.form_enter .fish_container .fish-shadow path {
	fill: #211922;
}
.form_enter .fish_container .fish-shadow path:hover {
	fill: #211922;
}
.form_enter .fish_container .fish-shadow {
	filter: url(#goo);
	width: 75%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	opacity: 0.4;
}
.form_enter .fish_container .fish-shadow path {
	fill: rgba(0, 0, 0, 0.2);
}
.form_enter .fish_container .fish-shadow path:hover {
	fill: rgba(0, 0, 0, 0.2);
}

.form_enter.active {
	display: block;
	opacity: 1;
	transition: opacity 0.4s ease;
	position: absolute;
	top: 0;
	z-index: 999;
	height: 100vh;
}
.form_enter.active .form_wrapper {
	z-index: 1000;
}
.form_enter.active .cant_remember_form.active {
	transform: translate(-50%, -50%);
}

.form.active .enter_form {
	opacity: 0;
}
.form.active .enter_form .authorization_form.active ~ .form_logo {
	top: 20%;
}

.form.active .cant_remember_form ~ .enter_form {
	opacity: 1;
	z-index: 999;
}

.authorization_form.active {
	transform: translate(-50%, -50%);
}
.authorization_form.active a::before {
	content: '';
	background-image: url('../../img/yento_logo_b2b.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: initial;
	position: absolute;
	height: 10%;
	width: 100%;
	top: -10%;
	left: 0;
	cursor: pointer;
	z-index: 999;
}

.suportPeix {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 80vh;
	z-index: 999;
}

@media only screen and (max-width: 500px) {
	.form_enter .cant_remember_form.active {
		transform: translate(-50%, -62%);
	}
	.form_enter .authorization_form.active {
		transform: translate(-50%, -45%);
	}
	.form_enter .form_logo {
		top: 23%;
	}
}
[xaf] circle {
	stroke-width: 1px;
	stroke: black;
	opacity: 1;
	display: none;
	transition: 0.6s;
}

[xaf] ellipse {
	fill: none;
	stroke: rgba(0, 0, 0, 0.3);
	opacity: 1;
	display: none;
	transition: 0.4s;
}

.suportPeix {
	position: fixed;
} /*# sourceMappingURL=style.css.map */
