.blog {
	padding: 50px 0 80px;
	background: $second-bg-color;

	h2 {
		padding-bottom: 60px;
	}
	.blog_wrapper {
		display: flex;
		align-items: center;
		position: relative;
		.arrows {
			padding: 10px;
			border-radius: 50%;
			background: $main-title-color-opacity;
			display: flex;
			align-items: center;
			position: absolute;
			cursor: pointer;
			transition: 0.4s ease;
			path {
				fill: $main-bg-color;
				transition: 0.4s ease;
			}
			&.active {
				background: $wave-color;
				path {
					transition: 0.4s ease;
				}
			}
			&:active {
				background: $wave-color-active;
			}
		}
		.arrows_wrapper_left {
			left: -8px;
			z-index: 1;
		}
		.arrows_wrapper_right {
			right: 3px;
			z-index: 1;
		}
		ul::-webkit-scrollbar {
			background: transparent; /* Фон скроллбара прозрачный */
			width: 0 !important; /* Ширина скроллбара 0, делая его невидимым */
		}
		ul {
			display: flex;
			overflow-x: scroll;
			scroll-snap-type: x mandatory;
			scroll-behavior: smooth;

			li {
				transition: 0.3s ease;
				flex: 0 0 22.5%;
				scroll-snap-align: start;
				padding: 0 14px;
				a {
					padding: 0;
					text-decoration: none;
					color: $base-text-color;
				}
				.img {
					position: relative;
					height: 336px;
					width: 100%;
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
						border-radius: 10px 10px 0 0;
					}
				}
				.card_wrapper {
					background: $main-bg-color;
					padding: 20px 20px 10px;
					position: relative;
					max-width: max-content;
					border-radius: 0px 0px 10px 10px;
				}

				.content_main {
					display: grid;
					grid-template-areas:
						'link data'
						'text text';
					max-height: 140px;
					height: 100%;
					opacity: 1;
					transition: 0.3s ease;
					overflow: hidden;
				}

				.content_main_hover {
					padding: 20px 20px 10px;
					position: absolute;
					bottom: 0;
					transition: 0.5s ease;
					max-height: 140px;
					opacity: 0;
					p {
						font-size: 14px !important;
					}
				}

				.content_nav {
					grid-area: link;
					background: red;
					color: $main-bg-color;
					font-size: 11px;
					border-radius: 20px;
					line-height: 18px;
					padding: 1px 4px 0;
					width: fit-content;
					max-height: 20px;
				}

				.content_date {
					grid-area: date;
					text-align: end;
					color: $second-text-color;
					font-size: 14px;
					text-align: left;
					width: 100%;
				}

				.content_title {
					grid-area: text;
					padding: 10px 0 10px;
					grid-column: 1fr;
					max-height: 100%;
					font-size: 15px;
				}

				.content_hover {
					transition: 0.5s ease;
					opacity: 0;
					position: absolute;
					top: 10%;
					left: 3%;
					p {
						text-align: left;
						font-size: 14px;
						@media (max-width: 600px) {
							font-size: 13px;
							overflow: hidden;
						}
					}
				}

				p {
					text-align: end;
					text-wrap: balance;
					max-width: 100%;
				}

				&:hover {
					transition: 0.5s ease;
					.content_main {
						transition: 0.5s ease;
						opacity: 0;
						background: $main-bg-color-opacity;
					}
					.content_main_hover {
						display: grid;
						transition: 0.5s ease;
						opacity: 1;
					}
					.content_hover {
						transition: 0.5s ease;
						opacity: 1;
					}
				}
			}
			.card-last-margin {
				margin-right: 14px;
			}
		}
	}
	a {
		display: inline-block;
		padding: 30px 0 0 0;
		text-decoration: underline;
		font-weight: 500;
		color: $main-title-color;
	}
}
@media only screen and (max-width: 1250px) {
	.blog {
		.container {
			padding: 0 20px 0 15px;
		}
		.arrows_wrapper_right {
			right: -20px !important;
		}
		ul {
			li {
				flex: 0 0 35% !important;
			}
		}
	}
}
@media only screen and (max-width: 769px) {
	.blog {
		ul {
			li {
				flex: 0 0 70% !important;
				padding: 0 5px !important;
			}
			.card-last-margin {
				margin-right: 0px !important;
			}
		}
		.arrows_wrapper_right {
			right: -16px !important;
		}
	}
}
