.brands {
	padding: 50px 0 150px;
	background: $second-bg-color;
	h2 {
		padding-bottom: 70px;
	}
	.brands_sliders {
		overflow: hidden;
	}
}

@media only screen and (min-width: 500px) {
	.desktop{
		display: block;
	}
	.mobile{
		display: none;
	}
}
@media only screen and (max-width: 500px) {
	.brands {
		padding: 30px 0 50px;
		.container {
			padding: 0;
		}
		h2 {
			padding-bottom: 30px !important;
		}
		.desktop{
			display: none;
		}
		.mobile{
			display: block;
		}
		.swiper-slide {
			width: 150px !important;
			height: 150px;
		}
	}
}
