.header {
	padding: 38px 0;
	display: flex;
	width: 100%;
	background: $main-bg-color;
	position: fixed;
	top: 0;
	width: 100%;
	transition: 0.5s ease;
	z-index: 2;
	border-bottom: 1px solid $header-border;
	&::before {
		content: '';
		pointer-events: none;
		opacity: 0.6;
		background: radial-gradient(
				circle at 27% 35%,
				transparent 0,
				transparent 2px,
				$main-title-color-opacity 3px,
				$main-title-color-opacity 4px,
				transparent 4px
			),
			radial-gradient(
				circle at 19% 55%,
				transparent 0,
				transparent 2px,
				$main-title-color-opacity 10px,
				$main-title-color-opacity 12px,
				transparent 12px
			),
			radial-gradient(
				circle at 35% 54%,
				transparent 0,
				transparent 2px,
				$main-title-color-opacity 3px,
				$main-title-color-opacity 4px,
				transparent 4px
			),
			radial-gradient(
				circle at 72% 47%,
				transparent 0,
				transparent 4px,
				$main-title-color-opacity 5px,
				$main-title-color-opacity 6px,
				transparent 6px
			),
			radial-gradient(
				circle at 44% 42%,
				transparent 0,
				transparent 2px,
				$main-title-color-opacity 10px,
				$main-title-color-opacity 12px,
				transparent 12px
			),
			radial-gradient(
				circle at 94% 62%,
				transparent 0,
				transparent 2px,
				$main-title-color-opacity 10px,
				$main-title-color-opacity 12px,
				transparent 12px
			),
			radial-gradient(
				circle at 65% 35%,
				transparent 0,
				transparent 2px,
				$main-title-color-opacity 10px,
				$main-title-color-opacity 12px,
				transparent 12px
			),
			radial-gradient(
				circle at 51% 48%,
				transparent 0,
				transparent 2px,
				$main-title-color-opacity 10px,
				$main-title-color-opacity 12px,
				transparent 12px
			),
			radial-gradient(
				circle at 38% 37%,
				transparent 0,
				transparent 4px,
				$main-title-color-opacity 5px,
				$main-title-color-opacity 6px,
				transparent 6px
			),
			radial-gradient(
				circle at 32% 38%,
				transparent 0,
				transparent 4px,
				$main-title-color-opacity 5px,
				$main-title-color-opacity 6px,
				transparent 6px
			),
			radial-gradient(
				circle at 48% 22%,
				transparent 0,
				transparent 4px,
				$main-title-color-opacity 5px,
				$main-title-color-opacity 6px,
				transparent 6px
			),
			radial-gradient(
				circle at 53% 35%,
				transparent 0,
				transparent 2px,
				$main-title-color-opacity 3px,
				$main-title-color-opacity 4px,
				transparent 4px
			),
			radial-gradient(
				circle at 21% 29%,
				transparent 0,
				transparent 2px,
				$main-title-color-opacity 10px,
				$main-title-color-opacity 12px,
				transparent 12px
			),
			radial-gradient(
				circle at 86% 42%,
				transparent 0,
				transparent 4px,
				$main-title-color-opacity 10px,
				$main-title-color-opacity 12px,
				transparent 6px
			);
		width: 100%;
		height: 150%;
		top: 0;
		left: 0;
		position: absolute;
		animation: bubbles 5s linear infinite both;
	}

	@keyframes bubbles {
		from {
			transform: translate();
		}
		to {
			transform: translate(0, -66.666%);
		}
	}

	.header_wrapper {
		display: flex;
		align-items: center;
		color: $main-title-color;
		font-size: 15px;
		max-width: 1300px;
		padding: 0 20px;
		margin: 0 auto;

		.img_wrapper {
			flex: 0 0 100%;
			max-width: 156px;
			width: 100%;
			img {
				width: 100%;
			}
		}

		.header_wrappe_items {
			display: flex;
			flex: 1 1 auto;
			padding-left: 60px;
			align-items: center;
			justify-content: space-between;
			gap: 40px;
			.menu_list {
				display: flex;
				gap: 20px;
			}

			.header_tell {
				display: flex;
				align-items: center;
				gap: 10px;

				&_wrapper {
					display: flex;
					flex-direction: column;
					position: relative;
					align-items: center;
					a {
						font-size: 24px;
					}
					.work {
						display: none;
						position: absolute;
						width: 120%;
						top: 120%;
						right: 0;
						left: -10%;
						padding: 20px 12px 10px;
						border-radius: 20px;
						background: #fff;
						z-index: 99;
						box-shadow: 2px 0px 12px 0px rgba(0, 0, 0, 0.1);

						.work_title_wrap {
							padding-bottom: 10px;
							gap: 5px;
							a,
							p {
								padding-left: 10px;
							}
							p {
								font-size: 12px;
							}
						}
						.btn_regular {
							width: 100%;
						}
					}
					&.show .work {
						display: block;
						a {
							font-size: 14px;
						}
						h5 {
							font-size: 14px;
							color: $base-text-color;
							font-weight: 400;
						}
					}
				}
			}

			.btn_wrapper {
				button {
					border-radius: 30px;
					border: 1px solid $main-title-color;
					color: $main-title-color;
					background: #fff;
					font-size: 15px;
					padding: 10px 30px;
				}
			}
		}
	}
	.burger-align {
		display: none;
	}
	.mobile_menu {
		border-radius: 30px 30px 0px 0px;
		background: $main-bg-color;
		padding: 20px 23px 0 30px;
		box-shadow: 4px -3px 4px 0px rgba(0, 0, 0, 0.25);
		width: 86%;
		height: 0;
		display: flex;
		flex-direction: column;
		position: absolute;
		left: 0;
		top: 120%;
		z-index: 0;
		transition: all 0.5s ease;
		overflow-y: scroll;
		display: none;

		ul {
			display: flex;
			flex-direction: column;
			border-bottom: 1px solid $border-color;
			padding-bottom: 25px;
			li {
				padding: 10px 0;
			}
			a {
				font-size: 21px;
				color: $main-title-color;
				display: block;
				width: 100%;
			}
		}
		.mobile_menu_contacts {
			padding: 20px 0;
		}
		.btn_wrapper_regular {
			display: flex;
			flex-direction: column;
			gap: 21px;
			width: 50%;
		}
	}
	.background-opacity {
		background: transparent;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 0;
		z-index: 0;
	}
	.work {
		display: flex;
		flex-direction: column;
		gap: 10px;
		.content_wrap {
			display: flex;
			flex-direction: column;
			.svg_wrapper {
				display: flex;
				gap: 5px;
				h5 {
					padding-top: 2px;
					font-size: 16px;
				}
			}
		}
	}
}

@media only screen and (max-width: 1150px) {
	.header {
		.header_wrapper {
			justify-content: space-between;
			width: 100%;

			.header_wrappe_items {
				display: none;
			}
			.burger-align {
				display: block;
			}
		}
	}

	.header.active .background-opacity {
		background: $second-text-color;
		z-index: 98;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100vh;
		transition: 0.4s ease;
	}

	.header.active .mobile_menu {
		transition: all 0.4s ease;
		left: 0;
		top: 90%;
		width: 93%;
		height: 100vh;
		z-index: 99;
		display: block;
	}
}

@media only screen and (max-width: 500px) and (min-height: 860px) {
	.header .mobile_menu .mobile_menu_contacts {
		padding: 40px 0;
	}
}
@media only screen and (max-width: 500px) and (max-height: 766px) {
	.header.active .mobile_menu {
		height: 100%;
		padding-bottom: 20px;
	}
}
@media only screen and (max-width: 500px) {
	.header {
		padding: 20px 0;
		img {
			width: 85% !important;
		}
		.mobile_menu {
			.btn_wrapper_regular {
				width: 100% !important;
			}
		}
		#simply-burger {
			width: 44px;
			height: 23px;
		}
	}
	.mobile_menu {
		width: 85.5% !important;
		.mobile_menu_contacts {
			padding: 40px 0 !important;
			h5 {
				font-size: 20px !important;
				padding-bottom: 10px;
			}
		}
	}
}
