.main_page {
	padding: 300px 0 300px;
	height: 100vh;
	width: 100%;
	background: $main-bg-color;
	z-index: 1;
	position: fixed;

	&_wrapper {
		display: flex;
		.title_box {
			line-height: 86px;
			letter-spacing: -4px;
			z-index: 2;
			position: relative;
			h1 {
				position: relative;
			}
			ul {
				li {
					font-size: 64px;
					z-index: 1;
					position: relative;
				}
			}
		}
		.content_text {
			display: flex;
			flex-direction: column;
			align-items: start;
			justify-content: end;
			padding-right: 120px;
			gap: 6px;
			.text {
				width: 100%;
				max-width: 700px;
				z-index: 1;
				p {
					font-size: 16px;
					line-height: 27px;
					text-transform: capitalize;
					padding: 0 0px 16px 0;
				}
				button {
					width: 100%;
					// display: block;
				}
			}
			.animated-text {
				position: absolute;
				top: 20%;
				left: 5%;
				color: #e3e3e3;
				font-size: 300px;
				font-weight: 700;
				opacity: 0.21;
				z-index: 0;
				display: flex;
				z-index: 0;
			}
			.animated-text-second {
				position: absolute;
				bottom: 75%;
				left: 20%;
				color: #c4c4c4;
				font-size: 150px;
				font-weight: 700;
				opacity: 0.21;
				z-index: 0;
				display: flex;
				z-index: 0;
			}
		}
	}
}

@media only screen and (max-width: 1200px) {
	.main_page {
		padding: 150px 0 50px;
	}
	.main_page_wrapper {
		.title_box {
			&::before {
				font-size: 100px;
				bottom: -10%;
				right: -40%;
			}

			&::after {
				font-size: 225px;
			}
			h1 {
				font-size: 64px;
				line-height: 64px;
			}

			ul {
				li {
					font-size: 44px;
					line-height: 64px;
				}
			}
		}
	}
}
@media only screen and (max-width: 1024px) {
	.main_page {
		.main_page_wrapper {
			flex-direction: column;
			gap: 40px;
			.title_box {
				margin: 0 auto;
				&::after {
					top: 10%;
				}
				&::before {
					left: 0;
					top: 70%;
					font-size: 150px;
				}
				h1 {
					font-size: 94px;
					line-height: 86px;
				}

				ul {
					li {
						font-size: 64px;
						line-height: 86px;
					}
				}
			}

			.content_text {
				padding: 0;
				.text {
					max-width: 380px;
					width: 100%;
					margin: 0 auto;
				}
				button {
					width: 90%;
					margin: 0;
					margin-right: auto;
				}
			}
		}
	}
}
@media only screen and (max-width: 769px) {
	.title_box {
		width: fit-content !important;
	}
}
@media only screen and (max-width: 500px) {
	.main_page {
		padding: 100px 0 50px;
		.title_items {
			li {
				font-size: 54px !important;
				line-height: 64px !important;
			}
		}
		.text {
			p {
				padding: 0 0 30px 0 !important;
			}
		}
		button {
			width: 100% !important;
		}
		.animated-text {
			font-size: 175px !important;
			left: 0 !important;
		}
		.animated-text-second {
			font-size: 125px !important;
			left: 0 !important;
		}
	}
}

.letter {
	display: inline-block;
	opacity: 0;
	transform: translateY(100%);
	animation: slideIn 4s linear infinite;
}

@keyframes slideIn {
	0% {
		opacity: 0;
		transform: translateY(200%);
	}
	50% {
		opacity: 1;
		transform: translateY(50%);
	}

	100% {
		opacity: 1;
		transform: translateY(-200%);
	}
}

@media only screen and (max-width: 500px) {
	.letter {
		animation: slideIn 3s linear infinite;
	}

	@keyframes slideIn {
		0% {
			opacity: 0;
			transform: translateY(130%);
		}
		50% {
			opacity: 1;
			transform: translateY(50%);
		}

		100% {
			opacity: 1;
			transform: translateY(-120%);
		}
	}
}
