.numbers {
	padding: 180px 50px 200px;
	background: $second-bg-color;
	p {
		color: $second-text-color;
	}

	.numbers_wrapper {
		display: flex;
		gap: 150px;
		.numbers_items {
			h2 {
				font-size: 64px;
				font-weight: 700;
				line-height: normal;
			}
			flex: 1 1 50%;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-column-gap: 120px;
			grid-row-gap: 50px;
			li {
				display: flex;
				flex-direction: column;
				align-items: start;
				.numbers_box {
					display: flex;
					align-items: center;
					.nj-h2{
						padding: 0 !important;
					}
				}
			}
		}
		.numbers_text {
			flex: 0 1 50%;
			display: flex;
			flex-direction: column;
			gap: 10px;
			h2 {
				font-size: 40px;
				font-weight: 400;
			}
			p {
				padding-bottom: 30px;
			}
			button {
				width: 40%;
				margin: 0;
			}
		}
	}
}
@media only screen and (max-width: 1024px) {
	.numbers {
		padding: 24px 0;
		.numbers_wrapper {
			gap: 50px;
			.numbers_items {
				grid-column-gap: 50px;
				grid-row-gap: 20px;
			}
			.numbers_text {
				p {
					max-width: 380px;
				}
			}
		}
	}
}
@media only screen and (max-width: 768px) {
	.numbers_wrapper {
		flex-direction: column-reverse;
		align-items: center;

		.numbers_text {
			align-items: center;
			p {
				max-width: 90% !important;
				text-align: justify;
			}
			.btn_wrapper_regular {
				width: 100%;
				button {
					width: 90%;
					margin: 0 auto;
				}
			}
		}
	}
}
@media only screen and (max-width: 500px) {
	h2 {
		font-size: 24px !important;
		padding-bottom: 0 !important;
	}
	.numbers_wrapper {
		.numbers_text {
			p {
				font-size: 15px;
			}
		}
		.numbers_box {
			h2 {
				font-size: 45px !important;
			}
		}
		ul {
			grid-column-gap: 25px !important;
			li {
				align-items: center !important;
				p {
					font-size: 15px !important;
					text-align: center;
				}
			}
		}
	}
}
