<footer class="footer parallax" id="footer">
	<div class="footer_wrapper">
		<div class="waves">
			<div class="wave" id="wave1"></div>
			<div class="wave" id="wave2"></div>
			<div class="wave" id="wave3"></div>
			<div class="wave" id="wave4"></div>
		  </div>
		  <ul class="footer_menu">
			<li class="footer_menu_item">
				<h3 class="nj-h3">Наш телефон</h3>
				<a href="">
					<span>044 585 29 91</span>
				</a>
			</li>
			<li class="footer_menu_item">
				<h3 class="nj-h3">Електронна адреса</h3>
				<a href="">
					<span>info.yento@gmail.com</span>
				</a>
			</li>
			<li class="footer_menu_item">
				<h3 class="nj-h3">Наша адреса</h3>
				<a href="">
					<span>Вишгород, Київська обл., 07301</span>
					<span>вулиця Ватутіна, 57-А</span>
				</a>
			</li>

		  </ul>
		  <ul class="social-icon">
			<li class="social-icon__item"><a class="social-icon__link" href="#">
				<ion-icon name="logo-facebook"></ion-icon>
			  </a></li>
			<li class="social-icon__item"><a class="social-icon__link" href="#">
				<ion-icon name="logo-youtube"></ion-icon>
			  </a></li>
			<li class="social-icon__item"><a class="social-icon__link" href="#">
				<ion-icon name="logo-linkedin"></ion-icon>
			  </a></li>
			<li class="social-icon__item"><a class="social-icon__link" href="#">
				<ion-icon name="logo-instagram"></ion-icon>
			  </a></li>
		  </ul>
		  <p>&copy; 2023 YentoFishing. Всі права захищені.</p>
	</div>
  </footer>