<footer class="footer">
	<div class="footer_wrapper">
		<div class="footer_columns">
			<div class="footer_contacts">
				<h3>Наш телефон</h3>
			</div>
			<div class="footer_adress">
				<h3>Наша адреса</h3>
			</div>
			<div class="footer_social">
				<h3>Ми в соц мережах</h3>
			</div>
		</div>
		<div class="footer_map">
			<iframe
				src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2798.8961672083074!2d30.480825184157332!3d50.60403563188589!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472b2b4d1819db51%3A0xeedda0fc810e5624!2sVatutina%20St%2C%2057%D0%B0%2C%20Vyshhorod%2C%20Kyivs&#39;ka%20oblast%2C%2007301!5e0!3m2!1sen!2sua!4v1697960255496!5m2!1sen!2sua"
				width="600"
				height="450"
				style="border: 0"
				allowfullscreen=""
				loading="lazy"
				referrerpolicy="no-referrer-when-downgrade"
			></iframe>
		</div>
		<div class="footer_bottom">
			<h5 class="nj-h5">© 2023 YentoFishing. Всі права захищені.</h5>
		</div>
	</div>
</footer>
