.content_text {
	.accordion-parent {
		width: 99%;
	}
	.accordion {
		background-color: $second-bg-color;
		color: $main-title-color;
		cursor: pointer;
		width: 100%;
		text-align: left;
		border: none;
		outline: none;
		transition: 0.3s ease-out;
		padding: 12px 5px;
		width: 98%;
		margin: 0 auto;
	}

	.panel {
		border: 1px solid $main-title-color-opacity;
		border-radius: 20px;
		max-height: 0;
		overflow: hidden;
		transition: 0.3s ease-out;
		text-align: left;
		text-align: center;
		font-size: 15px;
	}

	.parent {
		h5 {
			font-size: 20px;
		}
	}
	.first-panel {
		border-radius: 20px;
	}

	.child-panel {
		padding: 0 25px;
		transition: 0.4s ease;
		border-radius: 10px;
		background-color: $second-bg-color;
		font-size: 15px;
		span{
			font-size: 15px;
		}
	}
	.title_box {
		padding-bottom: 10px;
	}

	.arrow {
		position: relative;
		&::after {
			content: '';
			display: block;
			background-image: url('../../img/arrow.svg');
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			width: 15px;
			height: 15px;
			position: absolute;
			right: 10px;
			top: 50%;
			transform: translateY(-50%) rotate(0deg);
			z-index: 99;
			transition: 0.4s ease;
		}
	}
	.arrow.opened {
		&::after {
			transform: translateY(-50%) rotate(180deg);
			transition: 0.4s ease;
		}
	}

	.accordeon_item {
		background-color: $second-bg-color;
		border-radius: 20px;

		.accordion {
			width: 99%;
			margin: 0 auto;
			padding: 20px 3px;
		}
		.last {
			color: $main-title-color;
		}
		.last-panel {
			p {
				color: $main-title-color;
			}
		}
	}
}
@media only screen and (max-width: 1440px) {
	.child-panel {
		font-size: 14px !important;
		border-radius: 10px !important;
		span{
			font-size: 14px !important;
		}
	}
}
@media only screen and (max-width: 1200px) {
	.accordion {
		width: 99.5% !important;
	}
}
@media only screen and (max-width: 500px) {
	.accordion {
		width: 98% !important;
	}
	.accordion-parent {
		width: 97% !important;
	}
}
