.content_text{
    .accordion {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        width: 100%;
        text-align: left;
        border: none;
        outline: none;
        transition: .3s ease-out;
        padding: 10px 5px;
        border-radius: 20px;
        width: 99%;
        margin: 0 auto;
      }
      
    .active, .accordion:hover {
        background-color: #ccc;
    }

    .panel {
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: .3s ease-out;
        text-align: left;
        border-radius: 20px;
        
        .plus{
            position: relative;
            &::after{
                content: '+';
                position: absolute;
                color: $base-text-color;
                font-size: 25px;
                right: 5%;
                top: 50%;
                transform: translateY(-50%) rotate(0deg);
                transition: .4s ease-out;

            }
        }
        .plus.opened{
            &::after{
                transform: translateY(-50%) rotate(45deg);
                transition: .4s ease-out;
            }
        }
    }

    .parent{
        h5{
            font-size: 20px;
        }
    }

    .child-panel{
        padding: 0 25px;
        transition: .4s ease;
    }
    
    .title_box{
        padding-bottom: 10px;      
    }

    .arrow {
        position: relative;
        &::after {
            content: "";
            display: block;
            background-image: url('../../img/arrow.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;        
            width: 15px;
            height: 15px;
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%) rotate(0deg);
            z-index: 99;
            transition: .4s ease;
        }
    }
    .arrow.opened{
        &::after {
            transform: translateY(-50%) rotate(180deg);
            transition: .4s ease;
        }
    }
    
    .accordeon_item{
        background: $main-bg-color;
        border-radius: 20px;

        .accordion{
            width: 99%;
            margin: 0 auto;
            padding: 15px 3px;        
        }

        .panel{
            background: transparent;
        }
        
        .last{
            border-radius: 10px;
            color: $main-title-color;
        }
        .last-panel{
            p{
                color: $second-text-color;
            }
        }
    }      
}
