.after_popup {
	background: $btn-transparent-active;
	display: none;
	opacity: 0;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9998;
	transition: opacity 0.4s ease;
	.after_popup_wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 300px;
		height: auto;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: $main-bg-color;
		padding: 20px;
		border-radius: 20px;
		z-index: 9999;
		h6 {
			color: $main-title-color;
			font-size: 14px;
			text-align: center;
		}
		p {
			color: $second-text-color;
			font-size: 12px;
			text-align: center;
		}
	}
}
.after_popup.active {
	transition: opacity 0.4s ease;
	opacity: 1;
	display: block;
}
