@import 'src/sass/base/variables';

$spin: rotate(135deg);
$reverse-spin: rotate(-135deg);
$default-spin: rotate(0deg);
$duration: 0.25s;
$type: ease-in-out;

.burger-align {
 display: flex;
 justify-content: center;
 align-items: center;
 align-content: center;
}

#simply-burger {
 width: 45px;
 height: 25px;
 transform: $default-spin;
 transition: $duration * 2 $type;
 cursor: pointer;
}

//Neat trick to draw the menu lines. Spans with display:block/height and poof!
#simply-burger span {
 display: block;
 position: absolute;
 height: 2px;
 width: 100%;
 background: $main-title-color;
 border-radius: 9px;
 opacity: 1;
 right: 0;
 transform: $default-spin;
 transition: $duration $type;
 width: 100%;
}

#simply-burger:hover {
 span:nth-child(2) {
  background: $second-title-color;
 }
}
#simply-burger.active:hover {
 span {
  background: $second-title-color;
 }
}
#simply-burger span:nth-child(1) {
 top: 0px;
}

#simply-burger span:nth-child(2) {
 top: 50%;
 width: 75%;
}

#simply-burger span:nth-child(3) {
 bottom: -2px;
 width: 50%;
 right: 0;
}

#simply-burger.active {
 transform: rotate(90deg);
}

#simply-burger.active span:nth-child(1) {
 top: 2px;
 width: 24px;
 transform: rotate(225deg);
}

#simply-burger.active span:nth-child(2) {
 width: 50px;
 top: 50%;
}

#simply-burger.active span:nth-child(3) {
 width: 24px;
 bottom: 0px;
 transform: rotate(-225deg);
}
