.fishes {
	overflow: hidden;
	height: 100%;
	z-index: -1;
	svg {
		z-index: -1;
		[xaf] circle {
			stroke-width: 1px;
			stroke: black;
			opacity: 1;
			display: none;
			transition: 0.6s;
		}
		[xaf] ellipse {
			fill: none;
			stroke: rgba(0, 0, 0, 0.3);
			opacity: 1;
			display: none;
			transition: 0.4s;
		}
	}
}
.suportPeix {
	position: fixed;
	z-index: 999;
}
