@keyframes fish {
	0%,
	70% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.logo-before-fish {
	display: none;
}
.fish_container {
	width: 40%;
	height: 120vh;
	z-index: 999;
	position: fixed;
	top: 275px;
	left: 50%;
	transform: translateX(-50%);
	.fish-shadow-con {
		position: relative;
		.fish-yento {
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
		}
		.fish-yento-shadow {
			position: absolute;
			top: 0px;
			left: -70px;
			width: 100%;
			height: auto;
			z-index: 0;
			filter: blur(15px);
			svg {
				path {
					fill: #211922;
					opacity: 0.4;
				}
				.area {
					fill: transparent;
				}
			}
		}
	}
}
@media only screen and (max-width: 500px) {
	.fish_container {
		width: 100%;
		height: 100vh;
		top: 75px;
		.fish-yento-shadow {
			top: 0px !important;
			left: -50px !important;
			filter: blur(10px) !important;
		}
	}
}
