.form_enter {
	display: none;
	opacity: 0;
	transition: 0.4s ease;
	position: absolute;
	width: 100%;
	height: calc(100vh - 130px);
	overflow: hidden;
	.wrapp_form{
		position: relative;
		width: 100%;
		height: 100%;
	}
	.form_logo{
		display: none;
		position: absolute;
	}

	.form_wrapper {
		position: absolute;
		z-index: 999;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		opacity: 0;
		&.active {
			opacity: 1;
		}
		.password {
			cursor: pointer;
			position: absolute;
			top: 0;
			right: 0;
			transition: 0.3s linear;
			path {
				fill: #c8c8c8;
			}
			&.active {
				path {
					transition: 0.1s ease;
					fill: $base-text-color;
				}
			}
		}

		.auth_wrapper {
			display: flex;
			gap: 30px;
			a {
				font-size: 15px;
				text-decoration-line: underline;
				color: $main-title-color;
			}
		}
	}
	.cant_remember_form {
		transform: translate(-50%, -1000px);
		.link_btn{
			text-align: start;
		}
	}
	.authorization_form {
		transform: translate(-50%, -1500px);
		.link_btn{
			text-align: start;
		}
	}
}

.form_enter.active {
	display: block;
	opacity: 1;
	transition: opacity 0.4s ease;
	position: fixed;
	top: 0;
	z-index: 999;
	height: 100vh;
	width: 100%;
	background: $main-title-color;
	.form {
		width: 500px;
		height: 400px;
	}
	.wrapp_form{
		position: relative;
		&.cant_remember-wrapp{
			height: 350px;
		}
	}

	.form_logo_enter.active{
		display: block;
		z-index: 1000;
		top: -15px;
	}

	.form_logo_cant-remember.active{
		display: block;
		z-index: 1000;
		top: -15px;
	}
	.form_wrapper {
		z-index: 1000;
	}
	.cant_remember_form.active {
		transform: translate(-50%, -50%);
	}
}
.form_enter.active .form {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1000;
}
.form.active .cant_remember_form ~ .enter_form {
	opacity: 1;
	z-index: 999;
}
.authorization_form.active {
	top: -35%;
	transform: translate(-50%, -50%);
}

@media only screen and (max-width: 500px) {
	.form_enter {
		.cant_remember_form.active {
			transform: translate(-50%, -62%);
		}
		.authorization_form.active {
			transform: translate(-50%, -50%);
		}
	}
	.suportPeix {
		display: none;
	}
}
