.about-slider{
    flex: 0 1 45%;
    padding-bottom: 50px;
    .swiper{
        width: 650px;
        height: 650px;
        .swiper-pagination {
            .swiper-pagination-bullet{
                background: white;
                &-active{
                    background: $main-title-color;
                }
            }
        }
    }
}