.about-slider {
	flex: 0 1 45%;
	.swiper {
		width: 550px;
		height: 550px;
		.img_wrapper{
			max-width: 100%;
		}
	}
}
.swiper-pagination {
	span {
		background: white !important;
	}
	.swiper-pagination-bullet {
		background: white !important;
		&-active {
			background: $main-title-color !important;
		}
	}
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
	.swiper-pagination-bullet {
	background: white !important;	
}
@media only screen and (max-width: 1200px) {
	.about-slider {
		flex: 0 1 45%;
		padding-bottom: 50px;
		.swiper {
			width: 50%;
			height: 100%;
		}
	}
}
@media only screen and (max-width: 500px) {
	.swiper {
		width: 90% !important;
		height: 100%;
		.swiper-pagination {
			bottom: 10%;
		}
	}
}
