<div class="about-slider">
	<div class="swiper">
		<div class="swiper-wrapper">
			<div class="swiper-slide img_wrapper">
				<img src="../../img/about-slider/1.jpg" alt="" />
			</div>
			<div class="swiper-slide img_wrapper">
				<img src="../../img/about-slider/1.jpg" alt="" />
			</div>
			<div class="swiper-slide img_wrapper">
				<img src="../../img/about-slider/1.jpg" alt="" />
			</div>
			<div class="swiper-slide img_wrapper">
				<img src="../../img/about-slider/1.jpg" alt="" />
			</div>
			<div class="swiper-slide img_wrapper">
				<img src="../../img/about-slider/1.jpg" alt="" />
			</div>
			<div class="swiper-slide img_wrapper">
				<img src="../../img/about-slider/1.jpg" alt="" />
			</div>
			<div class="swiper-slide img_wrapper">
				<img src="../../img/about-slider/1.jpg" alt="" />
			</div>
			<!-- и так далее для всех слайдов -->
		</div>
		<div class="swiper-pagination"></div>
	</div>
</div>
