$total-items: 15;

.about_items {
	width: 100%;
	margin: 0 0 10px 20px;
	
	li {
		color: $second-text-color;
		position: relative;
		display: block;
		padding: 5px;
		text-align: left;
		opacity: 0;
		font-size: 14px;

		&::before {
			position: absolute;
			content: '✓';
			width: 10px;
			height: 10px;
			left: -10px;
		}
	}
}

.about_items li.animate {
	animation: fadeIn 2s linear;
	animation-fill-mode: both;
	border-radius: 20px;
	list-style: disc;
	opacity: 1;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		top: 100px;
	}
	75% {
		opacity: 0.5;
		top: 0px;
	}
	100% {
		opacity: 1;
	}
}
