<form class="form_wrapper auth_form_on_page">
	<h5 class="nj-h5">Реєстрація</h5>
	<label>
		<input type="text" placeholder="Логін" />
	</label>
	<label>
		<input type="text" placeholder="Ім’я" />
	</label>
	<label>
		<input type="text" placeholder="По батькові" />
	</label>
	<label>
		<input type="text" placeholder="Посада" />
	</label>
	<label>
		<input type="text" placeholder="Телефон" />
	</label>
	<label>
		<input type="text" placeholder="Ваш сайт" />
	</label>
	<label>
		<input type="email" placeholder="Email" />
	</label>
	<label>
		<input type="password" placeholder="Пароль" />
	</label>
	<label>
		<input type="password" placeholder="Повторіть пароль" />
	</label>
	<div class="btn_wrapper_regular">
		<button class="btn_regular" type="button" data-action="call_after_popup"">
			Авторизуватись
		</button>
	</div>
</form>
